@font-face {
  font-family: "pixel";
  src: url("fonts/IPix.ttf");
}

@font-face {
  font-family: "brush-pixel";
  src: url("fonts/zpix.ttf");
}

.title {
  text-align: center;
  color: rgb(0, 255, 0);
}
body {
  background-color: rgb(18, 18, 18) !important;
  color: white !important;
  font-family: "brush-pixel" !important;
  padding-left: 8px;
}
.textbox {
  width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
}
mark1 {
font-size: 16px;
transition: font-size 0.3s;
}
mark1:hover {
font-size: 25px; 
}
