@font-face {
    font-family: "pixel";
    src: url("fonts/IPix.ttf");
}

.title {
  text-align: center;
  color: rgb(0, 255, 0);
}
body {
  background-color: black;
  color: white;
  font-family: "pixel";
}
.textbox {
  width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
}

 body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
  }
  
  #random-number {
    font-size: 24px;
    margin-top: 20px;
  }
  
